# Результат сборки
dist/
# сгенерированные типы
.astro/

# зависимости
node_modules/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# переменные окружения
.env
.env.production

# Файлы, специфичные для macOS
.DS_Store

# Папка настроек JetBrains
.idea/
yarn.lock
